USE [master]
GO
CREATE DATABASE [HOUSE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOUSE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KVU\MSSQL\DATA\HOUSE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HOUSE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KVU\MSSQL\DATA\HOUSE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOUSE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOUSE]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[IDAddress] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Rank] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[IDAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AddressDuAn]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressDuAn](
	[IDAddressDuAn] [int] IDENTITY(1,1) NOT NULL,
	[IDDuAn] [int] NULL,
	[IDAddress] [int] NULL,
 CONSTRAINT [PK_AddressDuAn] PRIMARY KEY CLUSTERED 
(
	[IDAddressDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AddressHouse]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressHouse](
	[IDAdressHouse] [int] IDENTITY(1,1) NOT NULL,
	[IDHouse] [int] NULL,
	[IDAddress] [int] NULL,
 CONSTRAINT [PK_AddressHouse] PRIMARY KEY CLUSTERED 
(
	[IDAdressHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IDCategory] [int] IDENTITY(1,1) NOT NULL,
	[Rank] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[State] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[IDCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DuAn]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuAn](
	[IDDuAn] [int] IDENTITY(1,1) NOT NULL,
	[Block] [int] NULL,
	[Floor] [int] NULL,
	[House] [int] NULL,
	[Sumary] [nvarchar](3000) NULL,
	[IDInvestor] [int] NULL,
	[IDMap] [nvarchar](50) NULL,
	[State] [tinyint] NULL,
	[Name] [nvarchar](100) NULL,
	[Start] [date] NULL,
	[IDTaiKhoan] [int] NULL,
	[GiaBan] [nvarchar](50) NULL,
	[GiaThue] [nvarchar](50) NULL,
 CONSTRAINT [PK_DuAn] PRIMARY KEY CLUSTERED 
(
	[IDDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[House]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[House](
	[IDHouse] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[IDTaiKhoan] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Sumary] [nvarchar](3000) NULL,
	[IDDuAn] [int] NULL,
	[Views] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[IDMap] [nvarchar](50) NULL,
	[BedRoom] [int] NULL,
	[Area] [int] NULL,
	[Price] [nvarchar](50) NULL,
	[State] [tinyint] NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[IDHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE House
ALTER COLUMN Price decimal(18,2);

GO
/****** Object:  Table [dbo].[ImageDuAn]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageDuAn](
	[IDImageDuAn] [int] IDENTITY(1,1) NOT NULL,
	[IDDuAn] [int] NULL,
	[Link] [nvarchar](500) NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_ImageDuAn] PRIMARY KEY CLUSTERED 
(
	[IDImageDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImageHouse]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageHouse](
	[IDImageHouse] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IDHouse] [int] NULL,
	[Link] [nvarchar](500) NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_ImageHouse] PRIMARY KEY CLUSTERED 
(
	[IDImageHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InfoDuAn]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoDuAn](
	[IDInfoDuAn] [int] IDENTITY(1,1) NOT NULL,
	[IDDuAn] [int] NULL,
	[IDKey] [int] NULL,
	[Value] [nvarchar](500) NULL,
 CONSTRAINT [PK_InfoDuAn] PRIMARY KEY CLUSTERED 
(
	[IDInfoDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InfoHouse]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoHouse](
	[IDInfoHouse] [int] IDENTITY(1,1) NOT NULL,
	[IDHouse] [int] NULL,
	[IDKey] [int] NULL,
	[Value] [nvarchar](500) NULL,
 CONSTRAINT [PK_InfoHouse] PRIMARY KEY CLUSTERED 
(
	[IDInfoHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Investor]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investor](
	[IDInvestor] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Logo] [nvarchar](500) NULL,
	[Sumary] [nvarchar](1000) NULL,
	[State] [tinyint] NULL,
 CONSTRAINT [PK_Investor] PRIMARY KEY CLUSTERED 
(
	[IDInvestor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Key]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Key](
	[IDKey] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Rank] [int] NULL,
	[Active] [bit] NULL,
	[Required] [bit] NULL,
	[Type] [nvarchar](50) NULL,
	[IDCategory] [int] NULL,
 CONSTRAINT [PK_Key] PRIMARY KEY CLUSTERED 
(
	[IDKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Avatar] [nvarchar](500) NULL,
	[FullName] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[Adress] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[POSITION] [nvarchar](50) NULL,
	[State] [tinyint] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 2018-05-16 16:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[IDTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [int] NULL,
	[Contents] [nvarchar](max) NULL,
	[Avatar] [nvarchar](225) NULL,
	[State] [tinyint] NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[IDTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([IDAddress], [Name], [Type], [Rank], [Active]) VALUES (1, N'Hà Nội', N'Tỉnh', 1, 1)
INSERT [dbo].[Address] ([IDAddress], [Name], [Type], [Rank], [Active]) VALUES (2, N'Từ Liêm', N'Huyện', 2, 1)
INSERT [dbo].[Address] ([IDAddress], [Name], [Type], [Rank], [Active]) VALUES (3, N'Trần Cung', N'Xã', 3, 1)
SET IDENTITY_INSERT [dbo].[Address] OFF
SET IDENTITY_INSERT [dbo].[AddressDuAn] ON 

INSERT [dbo].[AddressDuAn] ([IDAddressDuAn], [IDDuAn], [IDAddress]) VALUES (1, 1, 1)
INSERT [dbo].[AddressDuAn] ([IDAddressDuAn], [IDDuAn], [IDAddress]) VALUES (2, 1, 2)
INSERT [dbo].[AddressDuAn] ([IDAddressDuAn], [IDDuAn], [IDAddress]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[AddressDuAn] OFF
SET IDENTITY_INSERT [dbo].[AddressHouse] ON 

INSERT [dbo].[AddressHouse] ([IDAdressHouse], [IDHouse], [IDAddress]) VALUES (1, 2, 1)
INSERT [dbo].[AddressHouse] ([IDAdressHouse], [IDHouse], [IDAddress]) VALUES (2, 2, 2)
INSERT [dbo].[AddressHouse] ([IDAdressHouse], [IDHouse], [IDAddress]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[AddressHouse] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([IDCategory], [Rank], [Name], [Active], [State]) VALUES (1, 1, N'Thông tin cơ bản', 1, N'house list')
INSERT [dbo].[Category] ([IDCategory], [Rank], [Name], [Active], [State]) VALUES (2, 2, N'Nội thất', 1, N'house list')
INSERT [dbo].[Category] ([IDCategory], [Rank], [Name], [Active], [State]) VALUES (3, 3, N'Tiện nghi', 1, N'house list')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[DuAn] ON 

INSERT [dbo].[DuAn] ([IDDuAn], [Block], [Floor], [House], [Sumary], [IDInvestor], [IDMap], [State], [Name], [Start], [IDTaiKhoan], [GiaBan], [GiaThue]) VALUES (1, 4, 3, 100, N'Palm Garden là giai đoạn 2 của khu đô thị Palm City, vị trí đẹp, liền kề Palm Height, mặt tiền sông. Dự án mang đến không gian sống tốt, đầy đủ tiện nghi, chủ đầu tư uy tín, đảm bảo chất lượng và tiến độ thi công. Giá bán cạnh tranh, thanh toán nhẹ nhàng, chỉ 1%/tháng.', 3, NULL, 1, N'Palm Garden - Palm City', CAST(N'2017-12-12' AS Date), 1, N'12 tỷ', N'12 tr/tháng')
SET IDENTITY_INSERT [dbo].[DuAn] OFF
SET IDENTITY_INSERT [dbo].[House] ON 

SET IDENTITY_INSERT [dbo].[House] OFF
SET IDENTITY_INSERT [dbo].[ImageDuAn] ON 

INSERT [dbo].[ImageDuAn] ([IDImageDuAn], [IDDuAn], [Link], [Rank]) VALUES (1, 1, N'https://photo.rever.vn/photo/v2/get/2kVT5lHXLP4dPF5pADwdWagzp4IjCcGx0L1D7gJdAYA=/450x300/nUFQdXlRkHHLaFWa.jpg', 0)
INSERT [dbo].[ImageDuAn] ([IDImageDuAn], [IDDuAn], [Link], [Rank]) VALUES (2, 1, N'https://photo.rever.vn/photo/v2/get/gevneV0T7XonK9R1gftuM64Med9M8g_o4ifnQvakVjA=/750x500/vAelxuJcu1p2I3ug.jpg', 1)
INSERT [dbo].[ImageDuAn] ([IDImageDuAn], [IDDuAn], [Link], [Rank]) VALUES (3, 1, N'https://photo.rever.vn/photo/v2/get/hZ1RTSc7IvayrPgoy4mQo9Rj9zzgJTGG5CyyUVxsjPw=/750x500/9MbouWFxXR6QYmy7.jpg', 2)
SET IDENTITY_INSERT [dbo].[ImageDuAn] OFF
SET IDENTITY_INSERT [dbo].[ImageHouse] ON 

INSERT [dbo].[ImageHouse] ([IDImageHouse], [Name], [IDHouse], [Link], [Rank]) VALUES (1, N'Phòng khách', 2, N'https://photo.rever.vn/photo/v2/get/GTPhvK5XGsDGdsRatNaUTYEqHelXpjToIytJM9dWpLU=/450x300/avnpUhwMg1XDDNca.jpg', 0)
INSERT [dbo].[ImageHouse] ([IDImageHouse], [Name], [IDHouse], [Link], [Rank]) VALUES (2, N'Bếp', 2, N'https://photo.rever.vn/photo/v2/get/KGZzcSq88h0BWoMFkh2hk9NnV4nBEdSamdQlTPw9MLA=/750x500/2FcD85MXW6j18StL.jpg', 1)
INSERT [dbo].[ImageHouse] ([IDImageHouse], [Name], [IDHouse], [Link], [Rank]) VALUES (3, N'Phòng ngủ 1', 2, N'https://photo.rever.vn/photo/v2/get/yHDmp9xvQTgmrcIg0uM_YKO6jXOoIvXhGYQHaMyYNbw=/750x500/udOedr3LZmjQFiPp.jpg', 2)
SET IDENTITY_INSERT [dbo].[ImageHouse] OFF
SET IDENTITY_INSERT [dbo].[InfoHouse] ON 

INSERT [dbo].[InfoHouse] ([IDInfoHouse], [IDHouse], [IDKey], [Value]) VALUES (1, 2, 1, N'2')
INSERT [dbo].[InfoHouse] ([IDInfoHouse], [IDHouse], [IDKey], [Value]) VALUES (2, 2, 2, N'2')
INSERT [dbo].[InfoHouse] ([IDInfoHouse], [IDHouse], [IDKey], [Value]) VALUES (3, 2, 3, N'69 m2')
SET IDENTITY_INSERT [dbo].[InfoHouse] OFF
SET IDENTITY_INSERT [dbo].[Investor] ON 

SET IDENTITY_INSERT [dbo].[Investor] OFF
SET IDENTITY_INSERT [dbo].[Key] ON 

INSERT [dbo].[Key] ([IDKey], [Name], [Rank], [Active], [Required], [Type], [IDCategory]) VALUES (1, N'Phòng ngủ', 1, 1, 1, N'text', 1)
INSERT [dbo].[Key] ([IDKey], [Name], [Rank], [Active], [Required], [Type], [IDCategory]) VALUES (2, N'Phòng tắm', 2, 1, 1, N'text', 1)
INSERT [dbo].[Key] ([IDKey], [Name], [Rank], [Active], [Required], [Type], [IDCategory]) VALUES (3, N'Diện tích', 3, 1, 1, N'text', 1)
SET IDENTITY_INSERT [dbo].[Key] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [Username], [Password], [Avatar], [FullName], [Birthday], [Adress], [Phone], [Email], [POSITION], [State], [Description]) VALUES (1, N'admin', N'admin', NULL, N'Nguyễn Văn Trung', CAST(N'2002-07-03' AS Date), N'Quảng Bình', N'0974 131 292', N'QuanLy@gmail.com', N'ADMIN', 1, NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[TinTuc] ON 


INSERT [dbo].[TinTuc] ([IDTinTuc], [Title], [CreateTime], [CreateBy], [Contents], [Avatar], [State]) VALUES (2, N'Những hình ảnh đầu tiên về khu cảnh quan công cộng dự án Empire City', CAST(N'2018-01-01 00:00:00.000' AS DateTime), 1, N'Những hình ảnh đầu tiên về khu cảnh quan công cộng dự án Empire City', N'https://photo.rever.vn/photo/v2/get/Mf_qfeVm+BqQj5wk7y7UcsP0BuRCT2tdzKqRqK6f5YE=/750x500/eLFssr5Mk2G3XQGV.jpg', NULL)
INSERT [dbo].[TinTuc] ([IDTinTuc], [Title], [CreateTime], [CreateBy], [Contents], [Avatar], [State]) VALUES (3, N'Những hình ảnh đầu tiên về khu cảnh quan công cộng dự án Empire City', CAST(N'2018-01-01 00:00:00.000' AS DateTime), 1, NULL, N'https://photo.rever.vn/photo/v2/get/fDqWoxZFI4r1VPYwwwcr0Js44znDlMysuuZnGzNOc+s=/225x150/5bFKyfhwfwPGWBv2.jpg', NULL)
INSERT [dbo].[TinTuc] ([IDTinTuc], [Title], [CreateTime], [CreateBy], [Contents], [Avatar], [State]) VALUES (4, N'Những hình ảnh đầu tiên về khu cảnh quan công cộng dự án Empire City', CAST(N'2018-01-01 00:00:00.000' AS DateTime), 1, NULL, N'https://photo.rever.vn/photo/v2/get/fDqWoxZFI4r1VPYwwwcr0Js44znDlMysuuZnGzNOc+s=/225x150/5bFKyfhwfwPGWBv2.jpg', NULL)
SET IDENTITY_INSERT [dbo].[TinTuc] OFF
ALTER TABLE [dbo].[AddressDuAn]  WITH CHECK ADD  CONSTRAINT [FK_AddressDuAn_Address] FOREIGN KEY([IDAddress])
REFERENCES [dbo].[Address] ([IDAddress])
GO
ALTER TABLE [dbo].[AddressDuAn] CHECK CONSTRAINT [FK_AddressDuAn_Address]
GO
ALTER TABLE [dbo].[AddressDuAn]  WITH CHECK ADD  CONSTRAINT [FK_AddressDuAn_DuAn] FOREIGN KEY([IDDuAn])
REFERENCES [dbo].[DuAn] ([IDDuAn])
GO
ALTER TABLE [dbo].[AddressDuAn] CHECK CONSTRAINT [FK_AddressDuAn_DuAn]
GO
ALTER TABLE [dbo].[AddressHouse]  WITH CHECK ADD  CONSTRAINT [FK_AddressHouse_Address] FOREIGN KEY([IDAddress])
REFERENCES [dbo].[Address] ([IDAddress])
GO
ALTER TABLE [dbo].[AddressHouse] CHECK CONSTRAINT [FK_AddressHouse_Address]
GO
ALTER TABLE [dbo].[AddressHouse]  WITH CHECK ADD  CONSTRAINT [FK_AddressHouse_House] FOREIGN KEY([IDHouse])
REFERENCES [dbo].[House] ([IDHouse])
GO
ALTER TABLE [dbo].[AddressHouse] CHECK CONSTRAINT [FK_AddressHouse_House]
GO
ALTER TABLE [dbo].[DuAn]  WITH CHECK ADD  CONSTRAINT [FK_DuAn_Investor] FOREIGN KEY([IDInvestor])
REFERENCES [dbo].[Investor] ([IDInvestor])
GO
ALTER TABLE [dbo].[DuAn] CHECK CONSTRAINT [FK_DuAn_Investor]
GO
ALTER TABLE [dbo].[DuAn]  WITH CHECK ADD  CONSTRAINT [FK_DuAn_TaiKhoan] FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[DuAn] CHECK CONSTRAINT [FK_DuAn_TaiKhoan]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_DuAn] FOREIGN KEY([IDDuAn])
REFERENCES [dbo].[DuAn] ([IDDuAn])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_DuAn]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_TaiKhoan] FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_TaiKhoan]
GO
ALTER TABLE [dbo].[ImageDuAn]  WITH CHECK ADD  CONSTRAINT [FK_ImageDuAn_DuAn] FOREIGN KEY([IDDuAn])
REFERENCES [dbo].[DuAn] ([IDDuAn])
GO
ALTER TABLE [dbo].[ImageDuAn] CHECK CONSTRAINT [FK_ImageDuAn_DuAn]
GO
ALTER TABLE [dbo].[ImageHouse]  WITH CHECK ADD  CONSTRAINT [FK_ImageHouse_House] FOREIGN KEY([IDHouse])
REFERENCES [dbo].[House] ([IDHouse])
GO
ALTER TABLE [dbo].[ImageHouse] CHECK CONSTRAINT [FK_ImageHouse_House]
GO
ALTER TABLE [dbo].[InfoDuAn]  WITH CHECK ADD  CONSTRAINT [FK_InfoDuAn_DuAn] FOREIGN KEY([IDDuAn])
REFERENCES [dbo].[DuAn] ([IDDuAn])
GO
ALTER TABLE [dbo].[InfoDuAn] CHECK CONSTRAINT [FK_InfoDuAn_DuAn]
GO
ALTER TABLE [dbo].[InfoDuAn]  WITH CHECK ADD  CONSTRAINT [FK_InfoDuAn_Key] FOREIGN KEY([IDKey])
REFERENCES [dbo].[Key] ([IDKey])
GO
ALTER TABLE [dbo].[InfoDuAn] CHECK CONSTRAINT [FK_InfoDuAn_Key]
GO
ALTER TABLE [dbo].[InfoHouse]  WITH CHECK ADD  CONSTRAINT [FK_InfoHouse_House] FOREIGN KEY([IDHouse])
REFERENCES [dbo].[House] ([IDHouse])
GO
ALTER TABLE [dbo].[InfoHouse] CHECK CONSTRAINT [FK_InfoHouse_House]
GO
ALTER TABLE [dbo].[InfoHouse]  WITH CHECK ADD  CONSTRAINT [FK_InfoHouse_Key] FOREIGN KEY([IDKey])
REFERENCES [dbo].[Key] ([IDKey])
GO
ALTER TABLE [dbo].[InfoHouse] CHECK CONSTRAINT [FK_InfoHouse_Key]
GO
ALTER TABLE [dbo].[Key]  WITH CHECK ADD  CONSTRAINT [FK_Key_Category] FOREIGN KEY([IDCategory])
REFERENCES [dbo].[Category] ([IDCategory])
GO
ALTER TABLE [dbo].[Key] CHECK CONSTRAINT [FK_Key_Category]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_TaiKhoan] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_TaiKhoan]
GO
USE [master]
GO


ALTER TABLE House
ADD CreateTime DATETIME NULL,
    CreateBy INT NULL

select * from TaiKhoan

create table GiaDien
(
	IDGiaDien int identity(1,1) not null primary key,
	IDHouse int not null foreign key references House(IDHouse)
		on delete 
			cascade
		on update
			cascade,
	IDTaiKhoan int not null foreign key references TaiKhoan(IDTaiKhoan)
		on delete 
			cascade
		on update
			cascade,
	GiaTien nvarchar(50) null,
	NgayTinh date null
)

alter table GiaDien
alter column GiaTien money
